<footer id="kOntakt" class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="w-75">
          <h3>KOntakt</h3>
          <div class="address">
            <h5>BRANDDESIGN24</h5>
            <p>Theodor-Heuss-Str. 36 78467 Konstanz</p>
            <p>+49 7531 1324 0 kontakt@branddesign24.de</p>
          </div>

          <div class="newslatter">
            <form>
              <div class="form-group">
                <label for="newslaterInputEmail1"
                >Up-to-date bleiben mit unserem Newsletter</label
                >
                <div class="tqs_input-icons">
                  <img src="/assets/images/share-icn.png" alt="" />
                  <input
                    type="email"
                    class="form-control"
                    id="newslaterInputEmail1"
                    aria-describedby="emailHelp"
                    placeholder="Gültige E-Mail-Adresse"
                  />
                </div>

                <small id="emailHelp" class="form-text text-muted"
                >Meistens informativ und manchmal lustig, aber niemals
                  Spam.</small
                >
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-6 right_footer">
        <form id="contactForm">
          <div class="form-group">
            <label class="form-label" for="contactUsInputEmail1"
            >Name</label
            >
            <input
              type="text"
              class="form-control"
              id="contactUsInputEmail1"
              name="from_name"
              aria-describedby="emailHelp"
              placeholder="Alles für wenig Geld. Schnell."
            />
          </div>
          <div class="form-group">
            <label for="contactUsInputtext1">Firma</label>
            <input
              type="text"
              class="form-control"
              id="contactUsInputtext1"
              name="to_name"
              placeholder="Wichtige Frima AG"
            />
          </div>

          <div class="form-group message">
            <label for="contactUsmessage">Anliegen</label>
            <textarea
              class="form-control"
              id="contactUsmessage"
              aria-describedby="emailHelp"
              name="message"
              placeholder="Alles für wenig Geld. Schnell."
            ></textarea>
          </div>

          <div class="form-group form-check">
            <input
              type="checkbox"
              class="form-check-input"
              id="contactUsCheck1"
            />
            <label class="form-label form-check-label" for="contactUsCheck1"
            >Die abgesendeten Daten werden nur zum Zweck der Bearbeitung
              Ihres Anliegens verarbeitet. Weitere Informationen finden Sie
              in unserer Datenschutzerklärung.</label
            >
          </div>


          <input  id="submitBtn" type="submit" class="btn btn-secondary mt-1" value="Anfrage abschicken"/>
        </form>
      </div>
    </div>

    <div class="row copy_Area">
      <div class="col-sm-6">
        <div class="powerd_By">
          <span>powered by</span> <a href="#">HFMN</a>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="copy_Link">
          <a href="#">Impressum</a>
          <a href="#">Datenschutz</a>
        </div>
      </div>
    </div>
  </div>
</footer>
