.footer_Upper {
  padding: 5rem 0;
  background: var(--brand-white);
}
.footer {
  background-color: var(--brand-red);
  padding: 5rem 0px;
  color: var(--brand-white);
}
.footer h3 {
  letter-spacing: 0px;
  line-height: 130px;
  font-family: "Bebas Neue";
  color: var(--brand-white);
  font-size: 9.375rem;
}
.footer input:focus,
.footer textarea:focus {
  box-shadow: none;
  border: solid 2px #202125;
  background: transparent;
}
.footer h5 {
  color: #ffffff;
  font: normal normal bold 18px/24px Bebas Neue;
  letter-spacing: 0.45px;
}
.footer .address p {
  transform: matrix(1, 0, 0, 1, 0, 0);
  font: normal normal normal 16px/24px Open Sans;
  letter-spacing: 0px;
  margin: 0;
  width: 205px;
}
.footer .address {
  margin-top: 50px;
  margin-bottom: 117px;
}
.footer label {
  font: normal normal 500 18px/24px Bebas Neue;
  letter-spacing: 0.45px;
  margin-bottom: 0.5rem;
}
.footer input,
.footer textarea {
  border: 2px solid #ffffff;
  background: transparent;
  min-height: 48px;
}
.footer form .form-group small {
  color: #fff !important;
  font: normal normal normal 16px/24px Open Sans;
  letter-spacing: -0.16px;
}
.footer input::placeholder,
.footer textarea::placeholder {
  font: normal normal normal 16px/24px Open Sans;
  letter-spacing: -0.16px;
  color: #ffffff;
  opacity: 0.5;
}
.footer .form-group.form-check label {
  font: normal normal normal 14px/22px Open Sans;
  letter-spacing: -0.14px;
}


.footer .row-2 .left-text small {
  margin-right: 15px;
}
.footer .footer-menu.right-text ul {
  display: flex;
  justify-content: flex-end;
}
.footer .footer-menu.right-text ul li {
  font: normal normal bold 18px/24px Bebas Neue;
  letter-spacing: 0.45px;
  list-style: none;
  padding: 10px;
}
.footer .left-text {
  padding: 10px;
  padding-left: 0;
  align-items: center;
}
.footer .row.container.mx-auto.row-2 {
  margin-top: 80px;
}
.footer .row-2 .d-flex.left-text p {
  font-size: 25px;
  font-weight: bold;
  margin: 0;
}
.footer .right_footer .form-group {
  margin-bottom: 24px;
}
.footer .right_footer .form-group.message {
  margin-top: 54px;
}
.footer .form-group.form-check input {
  border-radius: 0;
}
.footer .form-group.message textarea {
  min-height: 150px;
}
.footer input,
.footer textarea {
  border-radius: 0;
}
.footer .right_footer .form-group.form-check {
  margin-bottom: 50px;
}
.footer .newslatter input {
  margin-top: 9px;
  margin-bottom: 23px;
}
.tqs_input-icons {
  position: relative;
}
.footer .input-icons {
  position: relative;
}
.tqs_input-icons img {
  position: absolute;
  right: 15px;
  top: 16px;
  cursor: pointer;
}
.footer .form-group.form-check input {
  min-height: 20px;
  width: 20px;
  float: left;
}
.footer .form-group.form-check label {
  font: normal normal normal 14px/22px Open Sans;
  letter-spacing: -0.14px;
  float: right;
  text-align: left;
  width: calc(100% - 10px);
}
