<section id="Leistungen" class="home_Services">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="service_Item">
          <h2>About Us</h2>
          <div class="col-lg-8 col-md-12">
            <p>
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
              diam nonumy eirmod tempor invidunt ut labore et dolore magna
              aliquyam erat. Lorem ipsum dolor sit amet, consetetur
              sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
              labore et dolore magna aliquyam erat.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
